.container {
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.carousel {
  flex: 1;
  width: 100%;
  position: relative;
  left: -10%;

  @media screen and (max-width: 768px) {
    left: 0;
  }
}

.wrapper {
  height: 130vh;
  position: relative;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  @media screen and (max-width: 768px) {
    height: 55vh;
  }
}

.details {
  flex: 1;
  position: relative;
  margin-top: 3rem;

  @media screen and (max-width: 768px) {
    margin-top: 1.5rem;
  }
}

.hero {
  height: 100%;
  position: absolute;
  width: 500px;
  left: 0;

  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 320px;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center right;
  }
}